name: Release

on:
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - run: uv sync --all-extras
      - run: ruff check .
      - run: mypy .
      - run: pytest

  pypi:
    runs-on: ubuntu-latest
    needs: test
    environment: production
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - run: uv build --all-extras --no-sources
      - run: |
          uv publish \
            --token "${{ secrets.PYPI_TOKEN }}"
